/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/* Body Styling */
body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: #F5DFDA;
}

/* Header Styling */
header {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    margin: 2rem 0;
    margin-bottom: 3rem;
    color: #DB826D; 
}

/* Main Section Styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
    max-width: 1200px; 
}

/* Game Description Section Styling */
.game-description {
    padding: 20px;
    text-align: left;
    margin-bottom: 1rem;
    color: #c66651; 
    font-weight: 500;
    background-color: #FFD991;
    border-radius: 8px;
}

/* Game Setup and Form Styling */
.game-setup, form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px; 
    padding: 1rem;
}

/* Player Wrapper Styling */
.player_wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Player Input Label Styling */
.player-input label {
    display: block;
    margin-bottom: .5rem;
}

/* Player Input Field Styling */
.player-input input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Start Game Button Styling */
#startgame {
    margin-top: 3em;
    width: 50%;
    padding: 1rem;
    background-color: #DB826D; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-game:hover {
    background-color: #c47361; 
}

/* First Section Styling */
#first {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

/* Game Area Styling */
#gameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Player Display Styling */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

/* Dice Area Styling */
.diceArea {
    height: 500px;
    width: 500px; 
    padding: 20px;
    overflow: hidden; 
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; 
    border-radius: 10px;
}

/* Dice Images Styling */
.diceArea img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

/* Dice Area Button Styling */
.diceArea button {
    padding: 10px;
    margin: 5px;
    /* Other button styles... */
}

/* General Button Styling */
button {
    padding: 10px;
    background-color: #DB826D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}

/* Action Area Styling */
#action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
