* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body, html {
    height: 100%;
    max-width: 1400px;
    background-color: #f9d6e4;
}

header {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: #333; 
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 2rem 140px; 
    max-width: calc(100vw - 280px); 
}

.game-description {
    text-align: left;
    margin-bottom: 2rem;
    color: #333; 
}

.game-setup {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px; 
    background: #ffffff; 
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.player_wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.player-input {
    margin-bottom: 1rem;
}

.player-input label {
    display: block;
    margin-bottom: .5rem;
}

.player-input input {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#start-game {
    width: 50%;
    padding: 1rem;
    background-color: #ff91a4; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-game:hover {
    background-color: #ec6a87; 
}


